.ant-layout{
    min-height: 100vh;
    background-image: url("http://qty83k.creatby.com/materials/origin/15990370789f1bb36e4522c973e0ce0b_origin.jpg") !important;
    background-repeat: no-repeat;
    background-size:100% 100%;
}